:root {
  --nexus-azul-marino: #0B192C;
  --nexus-azul-oscuro: #07101E;
  --nexus-beige: #E2D8B3;
  --nexus-beige-hover: #D4C89E;
  --nexus-blanco: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--nexus-azul-oscuro);
  color: var(--nexus-blanco);
}


/* Reducir el tamaño general de la ventana flotante */
.sweet-popup-small {
  border-radius: 12px !important;
}

.sweet-title-small {
  font-size: 1.25rem !important;
  margin-bottom: 0.5rem !important;
}

.sweet-text-small {
  font-size: 0.9rem !important;
}

/* Hacer el ícono más pequeño */
.swal2-icon {
  transform: scale(0.75);
  margin: 0.8em auto 0.4em !important;
}